
@font-face {
    font-family: "BreeSerif";
    src: url('../fonts/BreeSerif.ttf') format("truetype");
}

@font-face {
    font-family: "BreeRegular";
    src: url('../fonts/Bree Regular.otf') format("truetype");
}

@font-face {
    font-family: "RalewayMedium";
    src: url('../fonts/Raleway-Medium.ttf') format("truetype");
}

/*header
{
	background: #3753a6;
}

#divMain
{
	background: rgb(63, 81, 181);
}
*/

*
{
	font-family: "BreeRegular";
}

footer
{
	background: #112b7a;
	padding: 20px 0;
	bottom: 0;
	color: #fff;
}

footer .row h4
{
	color: #fff;
}

footer .row hr
{
	border-top: 1px solid rgba(255, 255, 255, 1);
}

footer .row ul li a
{
	color: #fff;
	text-decoration: none;
}

footer .row ul li a:active
{
	color: #fff;
	text-decoration: none;
}

footer .row .terminos
{
	text-decoration: none;
	color: #fff;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}

footer .row .terminos:active
{
	text-decoration: none;
}

.ir-arriba
{
	display: inline-block;
	padding: 20px;
	background: rgb(63, 81, 181);
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
	z-index: 1;
}

.footer-top
{
	background: url('../img/footer.png') 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 112px;
	width: 100%;
	/*position: relative;*/
	bottom: 0;
}

.carousel h3
{
	font-size: 3rem;
	line-height: 1;
	text-shadow: -1px 0 #112b7a, 1px 0 #112b7a, 0 1px #112b7a, 0 -1px #112b7a;
	/*text-shadow: #112b7a -1px 1px, #112b7a -2px 2px, #112b7a -3px 3px, #112b7a -4px 4px, #112b7a -5px 5px;*/
	color: #fff;
}

#map {
	width: 100%;
	height: 600px;
}